<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>690271671257-82enut6m304c1edl6pcsfrrq3khsoee4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690271671257-82enut6m304c1edl6pcsfrrq3khsoee4</string>
	<key>API_KEY</key>
	<string>AIzaSyC_pDUtD-WohMQm7xmnXRK4T59Gcuu3W7U</string>
	<key>GCM_SENDER_ID</key>
	<string>690271671257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tempahbilikadmin</string>
	<key>PROJECT_ID</key>
	<string>tempahbilik-b556a</string>
	<key>STORAGE_BUCKET</key>
	<string>tempahbilik-b556a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690271671257:ios:ebfa42b0738379368f3fc8</string>
</dict>
</plist>